* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #9598a0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input[type = 'radio'] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color .2s;
}